<h3>المظهر</h3>
<p>عند تثبيت عدة مظاهر، ستكون فادراً على اختيار المظهر الذي تريد تطبيقه على موقع مهارة الخاص بك وذلك عبر قائمة منسدلة.و سيكون هذا المظهر هو المظهر الافتراضي الذي سيظهر للمستخدمين مسجلي الخروج.</p>
<p>يمكن للمؤسسات أن يكون لها مجموعة افتراضية من المظاهر، يتم عرضها للمستخدمين مسجلي الدخول في تلك المؤسسة، و يمكنك تهيئة المظاهر للمؤسسات في قسم <a href="../users/institutions.php">إدارة المؤسسات</a>.
