<h3>عرض شعارات من مواقع بعيدة</h3>

<p>إذا كان هذا الخيار فعالاً،
سيتم استخدام خدمة  <a href="http://www.gravatar.com">Gravatar</a> على الإنترنت لعرض أيقونات الصفة الشخصية للمستخدمين الذين ليس لديهم أيقونات للصفحة الشخصية في موقع مهارة. يمكن هذا المستخدمين من ضبط أيقونة الصفحة الشخصية مرة واحدة على موقع Gravatar بدلاً من الاضطرار لفعل ذلك على كل موقع مهارة و خدمة على الإنترنت بشكل فردي . (إذا كانت خدمة Gravatar ليس لديها أيقونة لذلك المستخدم، سيتم عرض أيقونة مهارة الافتراضية.)</p>

<h4>أسباب تعطيل هذه الخدمة</h4>

<p>يجب تعطيل هذا الخيار في عمليات التثبيت (مثل شبكات الإنترانت المحدودة) <b>حيث لا يمتلك المستخدمين قدرة الوصول لشبكة الإنترنت الأوسع</b>. فاستخدام خدمة Gravatar  في بيئة مثل تلك يمكن ببساطة أن يضيف تأخيرات أكثر.</p>

<p>و أيضا، بالنسبة <b>للمواقع المقدمة بواسطة بروتوكولات http</b>، فإن تفعيل أيقونات الصفحة الشخصية لخدمة Gravatar يمكن أن يصدر تنبيهات أمنية في بعض المتصفحات. و ذلك نظراً لحقيقة أن صور خدمة Gravatar تُقدَّم عير بروتوكولات http غير مشفرة.</p>

<h4>خادم الشعار القابل للتعديل</h4>

<p>إذا كان لديك خادم شعار قابل للتعديل ينفذ برتوكول خدمة Gravatar،فيمكنك تحديد وصلة الإنترنت لها في ملف config.php الخاص بك:</p>

<p><code>$cfg->remoteavatarbaseurl = 'http://example.com/avatar/';</code></p>
