<h3>المجموعات القابلة لعرض من قبل الآخرين</h3>
<p>إذا كنت ترغب بالسماح لجميع المستخدمين بإنشاء مجموعات يمكن أن يشاهدها الأشخاص الذين هم ليسوا أعضاءاً في موقعك، فقم بضبط هذا الخيار إلى 'الجميع'.</p>
<p>في مجموعة عامة،  أي شخص يعثر على موقعك  (بما في ذلك محركات البحث) سيكون قادراً على مشاهدة صفحة المجموعة &quot;معلومات&quot; ، قائمة الأعضاء و سيشاهد جميع المناقشات في المنتدى. مهما كان، لا يزال على الناس أن يصبحوا أعضاءاً في الموقع قبل أن يكونو قادرين على القيام بأي عمل، مثل المشاركة بالمنتديات أو عرض الصفحات الشخصية للمستخدمين.</p>
