<h3>اللغة</h3>
<p>ستكون اللغة المختارة هي اللغة الافتراضية لعناصر القوائم و صندوق المساعدة المنبثق و ذلك من خلال تثبيت مهارة الخاص بك.عند تثبيت حزم ترجمة لِلُغات إضافية على موقع مهارة الخاص بك، سيكون المستخدمون قادرون على تغيير التفضيل اللغوي عبر إعدادات الحساب.</p>
