<h3>وقت التحذير للخمول/الانتهاء</h3>
<p>إذا تم ضبطه سيتم إرسال رسالة تنبيه لمستخدم تتضمن المدة الزمنية قبل أن تقارب حسابات المستخدمين على الانتهاء أو تصبح غير فعالة. يمكن تحديد هذا الزمن بالأيام أو بالأشهر أو بالأسابيع أو بالسنين أو يمكن أن لا يتم اختيار وقت انتهاء عندها يجب أن لا يتلقى المستخدمين تنبيهاً قبل أن تنتهي حساباتهم أو أن يُؤشَّر على أولئك المستخدمين على أنه لديهم حسابات غير فعالة.</p>
