<h3>مضاد الرسائل الإلكترونية الدخيلة</h3>

<p>يوجد ثلاث مستويات من الحماية ضد الرسائل الإلكترونية الدخيلة متوفرة للنماذج التي يراها الجميع، مثل نماذج التسجيل و اتصل بنا. لا يتم أبداً رفض إرسال نموذج بدون سبب. بالأحرى، يتم عرض رسالة خطأ تطلب من المستخدم أن يحاول مرة أخرى إذا تم تصنيف الإرسال على أنه رسالة إلكترونية دخيلة.</p>

<p><b>بدون فحص ضد الفيروس: </b>لن يتم إجراء فحوصات ضد الرسائل الإلكترونية الدخيلة عند إرسال نموذج.</p>

<p><b>فحص بسيط ضد الفيروس:</b>بحيث يتم إجراء بعض الفحوصات الأساسية. و يتم إرسال نماذج مع عناوين بريد إلكتروني غير مكونة بشكل جيد أو أن يكون لها عدد كبير من وصلات الإنترنت.</p>

<p><b>فحص متقدم ضد الفيروس:</b>(يتطلب اتصال بالإنترنت). يقوم بإجراء فحوصات إضافية لتحديد ما إذا كانت عناوين البريد الإلكتروني حقيقية أم لا أو تحتوي على وصلات إنترنت مدرجة في اللائحة السوداء.</p> 
