<h3>وقت التنبيه لانتهاء المؤسسة</h3>
<p>إذا تم ضبطه، سيتم إرسال رسالة تبيه لمدراء موقع أو مدراء مؤسسيين تتضمن مقدار هذا الوقت قبل أن تقارب مؤسسة على الانتهاء و يتم ايقافها. و يمكن تحديد هذا الوقت بالأيام أو بالأسابيع أو بالأشهر أو بالسنين أو يمكن أن لا يتم اختيار تاريخ انتهاء عندها يجب أن لا تستلم المؤسسات تنبيهاً قبل أن تنتهي مؤسستهم.</p>

