<h3>تفعيل حظر URl لـ SURBL</h3>

<p>تقدم SURBL لائحة حظر URL مجانية للمؤسسات التي يقل عدد مستخدميها عن 1000 مستخدم. و تتوفر أيضاً خدمة تزويد البيانات للاستخدام المهني، و لكنها ليست مدعومة في مهارة . الرجاء قراءة 
<a href="http://www.surbl.org/usage-policy.html">شروط استخدام</a> SURBL قبل تفعيل هذا الخيار.</p>
