<h3>إيقاف تلقائي للمؤسسات المنتهية</h3>
<p>يتم التحقق من انتهاء صلاحية المؤسسات مرة في اليوم. إذا تم ضبط هذا الخيار، فسيمكن ذلك مهارة من أن تقوم بايقاف تلقائي لمؤسسة قد انتهت. و هذا يعني أن مستخدمي تلك المؤسسة لن يكونوا قادرين على تسجيل الدخول حتى يتم إلغاء ايقاف المؤسسة.</p>

