<h3>الوقت الافتراضي لخمول الحساب</h3>
<p>إذا تم ضبطه، فسيتم اعتبار المستخدمين الذين لا يسجلون الدخول لهذه المدة من الزمن 'خاملين'، و لن يكونوا قادرين على تسجيل الدخول. يمكن تحديد هذا الوقت بالأيام أو بالأسابيع أو بالأشهر أو بالسنين أو يمكن أن لا يتم اختيار تاريخ انتهاء عندها يجب إبقاء  المستخدمين فعَّالين.</p>
