<h3>إرسال تحديثات أسبوعية</h3>
<p>إذا قمت باختيار &quot;‘إرسال تحديثات أسبوعية&quot;، ستقوم مهارة آلياً بإرسال تحديثاً إلى mahara.org مرة في الأسبوع يتضمن معلومات مُحدَّثة عن تثبيتك.</p>
<p>المعلومات المرسلة هي معلومات إحصائية عالية المستوى، و لن يتم إرسال معلومات شخصية عن أي من مستخدمي موقعك. و يمكنك استعراض نوع المعلومات المرسلة قبل أن تسجل موقع مهارة الخاص بك  (و الذي يمكنك فعله من خلال الصفحة الئيسية للمدير).</p>
