<h3>الفحص ضد الفيروس</h3>
<p>إذا كنت ترغب أن يتم التحقق من جميع الملفات التي يحملها المستخدمين عن طريق الفحص ضد الفيروس بالستخدام ClamAV، فيجب أن يكون خيار الفحص ضد الفيروس فعالاً.</p>
<p>يجب أن يكون لديك برنامج مضاض الفيروس ClamAV مثبتاً على الخادم الخاص بك. العديد من إصدارات لينوكس لها حزم <code>clamav</code>، أو يمكنك تنزيله و تثبيته من خلال <a href="http://www.clamav.net/">ClamAV موقع</a>.
