<h3>السماح للمستخدمين بالانضمام لعدة مؤسسات</h3>
<p>إذا كان هذا الخيار فعّالاً، فعندها يمكن للمستخدمين الانضمام لأكثر من مؤسسة في أي وقت كان. و سيكون المستخدمين قادرين على التقدم للانضمام لمؤسسة ما في أي وقت كان، على الرغم من أنه يجب على المؤسسة أن توافق على طلبات المستخدمين أولاً. و بطريقة مماثلة، ستكون المؤسسات قادرة على دعوة المستخدمين، و لكن يجب على المستخدمين أن يوافقوا على طلباتهم.</p>
