<h3>تفعيل اللائحة السوداء لوصلة الإنترنت لـSpamhaus</h3>

<p>يقدم مشروع Spamhaus لائحة سوداء لوصلة إنترنت مجانية للاستخدام غير التجاري و غير المزدحم. و خدمة مزود البيانات للاستخدام المهني متوفرة أيضاً، لكنها ليست مدعومة في مهارة. الرجاء قراءة 
<a href="http://www.spamhaus.org/organization/dnsblusage.html">شروط استخدام </a> Spamhaus DNSBL قبل تفعيل هذا الخيار.</p>
