<h3>مسار clam</h3>
<p>مسار ملفات النظام <code>clamscan</code> أو <code>clamdscan</code> للفحص ضد الفيروس. من المفترض أن فشلاً في تشغيل برنامج clam سيعني أن ملفاً يجب معاملته على أنه فيروس، و سيقوم تثبيت مهارة تلقائياً بإعداد مجلد عزل.</p>
