<h3>العمر الافتراضي للحساب</h3>
<p>إذا تم ضبطه، ستنتهي حسابات المستخدمين بعد هذه المدة من الزمن منذ أن تم إنشاؤها. و عندما ينتهي حساب مستخدم لا يمكن للمستخدم تسجيل الدخول. يمكن تحديد هذا الوقت بالأيام أو بالأسابيع أو بالأشهر أو السنين و يمكن أن لا يتم اختيار تاريخ انتهاء عندها يجب أن لا تنتهي حسابات المستخدمين أبداً.</p>
